<ion-content>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Vaccine Checker Application </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-list>
    <ion-item-divider>
      <ion-list-header>Current vaccine data</ion-list-header>
    </ion-item-divider>
    <div *ngIf="vaccineInfo$ | async as vaccineInfo">
      <ion-item>
        <ion-label ion-text-wrap>Available:</ion-label>
        <ion-note slot="end" color="primary">{{ vaccines.AvailableVaccineTypes }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Last refresh time:</ion-label>
        <ion-note slot="end" color="primary">{{ vaccines.lastModTime }}</ion-note>
      </ion-item>
    </div>
  </ion-list>

  <!-- <ion-list>
    <ion-item-divider>
      <ion-list-header>Current vaccine data</ion-list-header>
    </ion-item-divider>
    <div *ngIf="vaccines">
      <ion-item>
        <ion-label ion-text-wrap>Available:</ion-label>
        <ion-note slot="end" color="primary">{{ vaccines.AvailableVaccineTypes }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Last refresh time:</ion-label>
        <ion-note slot="end" color="primary">{{ vaccines.lastModTime }}</ion-note>
      </ion-item>
    </div>
  </ion-list> -->

</ion-content>
